/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #aed8e6; 
}

.container {
    max-width: 800px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"],
button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#message {
    color: red;
    margin-bottom: 10px;
}

.login-link {
    margin-top: 10px;
}

.login-link a {
    color: #1E90FF;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
